@using ETickets.ViewModel
@model Home
@{
    ViewData["Title"] = "Home Page";
}

<main class="bg-black text-white mb-5">

    <div class="mx-5 mt-5">

        <div class="p-5 mb-4 text-white text-center rounded-3"
             style="background-image: url('https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg');
                    background-size: cover;
                    background-position: center;">
            <div class="bg-dark bg-opacity-50 p-5 rounded-3">
                <h2 class="fw-bold">CineBook</h2>
                <p class="lead">Cinema Starts Here</p>
            </div>
        </div>
    </div>
     

        <hr class="my-5 border-white-50" />

        <!-- Filter Section -->
        <section class="container my-2 bg-black">
            <div class="card shadow-sm bg-black text-light">
                <form>
                <input hidden class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@ViewBag.Search" />
                    <div class="row g-3">
                        <!-- Price Filter -->
                        <div class="col-md-3">
                            <label for="minPrice" class="form-label">Min Price</label>
                            <input type="number" class="form-control" id="minPrice" placeholder="0" name="minPrice" value="@ViewBag.MinPrice">
                        </div>
                        <div class="col-md-3">
                            <label for="maxPrice" class="form-label">Max Price</label>
                        <input type="number" class="form-control" id="maxPrice" placeholder="1000" name="maxPrice" value="@ViewBag.MaxPrice">
                        </div>

                        <!-- Category Filter -->
                        <div class="col-md-3">
                            <label for="category" class="form-label">Category</label>
                        <select class="form-select" id="category" name="categoryId">
                                <option value="">All</option>
                            @foreach (var cat in Model.Categories)
                            {
                                @if (cat.Id == ViewBag.CategoryId)
                                {
                                    <option selected value="@cat.Id" action="">@cat.Name</option>
                                }
                                else
                                {
                                    <option value="@cat.Id" action="">@cat.Name</option>
                                }
                            }
                                
                            </select>
                        </div>

                        <!-- Cinema Filter -->
                        <div class="col-md-3">
                            <label for="cinema" class="form-label">Cinema</label>
                            <select class="form-select" id="cinema" name="cinemaId">
                                <option value="">All</option>
                                @foreach (var cat in Model.Cinemas)
                                {
                                @if (cat.Id == ViewBag.CinemaId)
                                {
                                    <option selected value="@cat.Id" action="">@cat.Name</option>
                                }
                                else
                                {
                                    <option value="@cat.Id" action="">@cat.Name</option>
                                }
                                }
                            </select>
                        </div>
                       

                        <!-- Submit Button -->
                        <div class="mt-4">
                        <button type="submit" class="btn  btn-sm" style="background-color:#317d7c">Apply Filter</button>
                        <a class="btn btn-outline-secondary btn-sm" asp-area="Customer" asp-controller="Home" asp-action="Index">Reset</a>

                        </div>
                    </div>
                </form>
            </div>
        </section>

        <hr class="border-3" style="border-color: #000000;">

        <!-- Comming Soon-->
        <section>
            <h3 class="text-center">Comming soon</h3>

            <div class="row row-cols-2 row-cols-md-5 g-3 mt-3 container">

                @foreach (var Movie in Model.Movies)
                {
                    @* Card *@
                    <div class="col">
                        <div class="card bg-dark text-white border-0 h-100">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Movie" asp-route-id="@Movie.Id">
                                <img src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/b0fbe922-a7b9-4745-bc87-bde69777f0fa.png" class="card-img-top" alt="Movie poster for Arrival showing a woman looking at a spaceship" />
                            </a>
                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col">
                                        <p class="fs-7 mt-0 mb-0 pt-0 pb-0" style="opacity: 0.3;">Action</p>
                                    </div>
                                    <div class="col-md-4 mb-0 pb-0">
                                        <h6>
                                            <small>
                                                $550.3
                                            </small>
                                        </h6>
                                    </div>
                                </div>
                                <small class="me-2">★★★★☆ 4.5</small>
                            <form asp-action="AddToCart" asp-controller="Cart">
                                <input type="hidden" name="MovieId" value="@Movie.Id">
                                <input type="hidden" name="Count" value="1">
                                @* <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" name="count" /> *@
                                <button type="submit" class="btn btn-success btn-sm ms-5 mb-2">Book Now</button>
                            </form>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </section>

        <hr class="border border-1 ms-5 me-5 mt-4">

        <section>
            <h3 class="text-center text-uppercase mt-4">Watch Now</h3>
            <div class="row row-cols-2 row-cols-md-5 g-3 mt-3 container">
                @foreach (var Movie in Model.Movies)
                {
                    @* Card *@
                    <div class="col">
                        <div class="card bg-dark text-white border-0 h-100">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Movie" asp-route-id="@Movie.Id">
                                <img src="~/img/@Movie.ImgUrl" class="card-img-top" height="350" width="150" alt="Movie poster for Arrival showing a woman looking at a spaceship" />
                            <span class="badge bg-warning text-dark position-absolute top-0 start-0 m-2">@Movie.Category.Name</span>

                            </a>
                            <div class="card-body p-2 mt-2">
                                <div class="row">
                                    <div class="col">
                                        @* <p class="fs-7 m-0 p-0 " style="opacity: 0.3;">@Movie.Category.Name</p> *@
                                        <p class="fs-7 m-0 p-0" style="opacity: 0.3; height: 70px">@Movie.Name</p>
                                    </div>
                                    <div class="col-md-4 mb-0 pb-0">
                                        <h6>
                                            <small>
                                                $@Movie.Price
                                            </small>
                                        </h6>
                                    </div>
                                </div>
                            <small class="me-2">★★★★☆ 4.5</small>                                
                            <form asp-action="AddToCart" asp-controller="Cart">
                                <input type="hidden" name="MovieId" value="@Movie.Id">
                                <input type="hidden" name="Count" value="1">
                                @* <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" name="count" /> *@
                                <button type="submit" class="btn btn-success btn-sm ms-5 mb-2" >Book Now</button>
                            </form>
                            @* <input type="button" class="btn btn-sm ms-5 mb-2 " style="background-color:#317d7c" value="Book Now" /> *@
                            </div>
                        </div>
                    </div>
                }

                <nav aria-label="Page navigation example" class="" style="margin:auto; margin-top:25px;">
                    <ul class="pagination">
                    @if (ViewBag.currentPage > 1 && Model.Movies is not null)
                    {
                        <li class="page-item">
                            <a class="page-link bg-dark text-bg-light text-light" asp-area="Customer" asp-controller="Home"
                            asp-action="Index"
                            asp-route-Name="@ViewBag.ProductName"
                            asp-route-MinPrice="@ViewBag.MinPrice"
                            asp-route-MaxPrice="@ViewBag.MaxPrice"
                            asp-route-CategoryId="@ViewBag.CategoryId"
                            asp-route-page="@(ViewBag.currentPage - 1)">Previous</a>
                        </li>
                    }
                    @for (int i = 1; i <= ViewBag.totalNumberOfPages; i++)
                        {
                        <li class="page-item ">
                            @if (i == ViewBag.currentPage)
                            {                                
                                <a class="page-link bg-dark text-bg-light text-light active" asp-area="Customer"
                                   asp-controller="Home"
                                   asp-action="Index"
                                   asp-route-Name="@ViewBag.ProductName"
                                   asp-route-MinPrice="@ViewBag.MinPrice"
                                   asp-route-MaxPrice="@ViewBag.MaxPrice"
                                   asp-route-CategoryId="@ViewBag.CategoryId"
                                   asp-route-IsHot="@ViewBag.IsHot"
                                   asp-route-page="@i">@i</a>
                            }
                            else
                                {
                                <a class="page-link bg-dark text-bg-light text-light" asp-area="Customer"
                                   asp-controller="Home"
                                   asp-action="Index"
                                   asp-route-Name="@ViewBag.ProductName"
                                   asp-route-MinPrice="@ViewBag.MinPrice"
                                   asp-route-MaxPrice="@ViewBag.MaxPrice"
                                   asp-route-CategoryId="@ViewBag.CategoryId"
                                   asp-route-page="@i">@i</a>
                                }   
                        </li>
                        }
                        
                        @if (ViewBag.currentPage < ViewBag.totalNumberOfPages && Model.Movies is not null) 
                        {
                            <li class="page-item ">
                                <a class="page-link bg-dark text-bg-light text-light" asp-area="Customer" asp-controller="Home"
                                asp-action="Index"
                                asp-route-Name="@ViewBag.ProductName"
                                asp-route-MinPrice="@ViewBag.MinPrice"
                                asp-route-MaxPrice="@ViewBag.MaxPrice"
                                asp-route-CategoryId="@ViewBag.CategoryId"
                                asp-route-page="@(ViewBag.currentPage+1)">Next</a>
                            </li>
                        }
                </ul>
                </nav>
            </div>
        </section>

</main>



