@using ETickets.ViewModel
@model MovieDetails
<main class="bg-black text-white">


    <section class="container py-4">


        <div class="row g-4 ">
            <div class="col-md-3  border-0 rounded" style="background-color: rgba(33, 37, 41, 0.8);">
                @if (Model.Movie.ImgUrl is not null)
                {
                    <img src="~/img/@Model.Movie.ImgUrl" alt="Movie poster for La La Land showing a man and woman dancing in yellow spotlight" class="img-fluid rounded shadow-sm mb-3 mt-2" />
                }
                @if (Model.Movie.ImgUrl is null)
                {
                    <img src="~/img/default.png" alt="Movie poster for La La Land showing a man and woman dancing in yellow spotlight" class="img-fluid rounded shadow-sm mb-3 mt-2" />
                }
                <div class="d-grid gap-2">
                    <button class="btn btn-success btn-lg text-start mt-1 mb-3"><i class="fas fa-clock me-2"></i> Book Ticket</button>
                </div>
            </div>

            <div class="col-md-6 text-start text-light">
                <div class="card-body p-2">
                    <h2 class="card-title m-0">@Model.Movie.Name</h2>
                    <small>★★★☆☆ 7.3</small>
                </div>
                @if(Model.Movie.Description is not null)
                {   
                <p>
                    <small>@Model.Movie.Description</small>
                </p>
                }

                <div>
                    <span><i class="fas fa-users"></i> 33,453</span>
                    <span class="ms-3">PG-13</span>
                    <span class="ms-3">2h 8min</span>
                    @if (Model.Movie.Category != null){
                    <span class="ms-3">@Model.Movie.Category.Name</span>
                    }
                    <span class="ms-3">2017</span>
                    <span class="badge bg-success text-dark ms-3">Available</span>
                </div>
                <hr />
                <div class="row mt-4">
                    <div class="col-sm-6">
                        <h5 class="bg-dark mb-3">Details</h5>
                        <ul class="list-unstyled text-muted small ">
                            <li class="text-light">Price: $@Model.Movie.Price</li>
                            @if (Model.Movie.Cinema is not null)
                            {
                            <li class="text-light">Cinema: @Model.Movie.Cinema.Name</li>
                            }
                            <li class="text-light">Start Date: @Model.Movie.StartDate</li>
                            <li class="text-light">End Date: @Model.Movie.EndDate</li>
                            @if(@Model.Movie.Category is not null)
                            {
                            <li class="text-light">Category: @Model.Movie.Category.Name</li>
                            }
                            <li class="text-light">Writers: Damien Chazelle</li>

                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="ms-2 bg-dark mb-3">Cast</h5>
                        <ul class="list-unstyled">
                            @if(Model.Movie.Actors is not null)
                            {    
                            @foreach(var actors in Model.Movie.Actors)
                            {
                                    <a asp-area="Customer" asp-controller="Home" asp-action="Actor" asp-route-id="@actors.Id">
                            <li><i class="fas fa-user-circle me-2"></i>@actors.FirstName @actors.LastName</li>
                            </a>
                            }
                            }
                        </ul>
                    </div>
                </div>
                </div>
                

            <div class="col-md-3">
                <h5>Gallery</h5>
                <div class="trailer">
                    <h2>Trailer</h2>


                    @* <iframe width="450" height="315" src="@Model.Movie.TrailerUrl" frameborder="0" allowfullscreen></iframe> *@
                <iframe width="450" height="315" src="https://www.youtube.com/embed/OpThntO9ixc?si=c15OR6lyN22U8NM-" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
         </div>

            <hr class="my-5 border-white-50" />

            <section>
                <h4><i class="fas fa-film me-2"></i>Similar Movies</h4>
                <div class="row row-cols-2 row-cols-md-5 g-3 mt-3">
                    @foreach(var movie in Model.Movies)
                    {
                    <a asp-area ="Customer" asp-controller="Home" asp-action="Movie" asp-route-id="@movie.Id">
                    <div class="col">
                            <div class="card bg-dark text-white border-0 h-100">
                            <img src="~/img/@movie.ImgUrl" class="card-img-top" height="350" width="100" alt="Movie poster for Arrival showing a woman looking at a spaceship" />
                                <div class="card-body p-2">
                                    <h6 class="card-title m-0">@movie.Category.Name</h6>
                                    <small>★★★★☆ 4.5</small>
                                </div>
                            </div>
                    </div>
                    </a>
                    }
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-outline-light btn-sm">Show More</button>
                </div>
            </section>
    </section>
</main>
